 <div class="inline" id="search">
   <script>
   function showResults()
   {
     if (showResults.isHidden == true)
     {
       var searchDropDown = document.getElementById("search_drop_down");
       if (searchDropDown.size != 0)
       {
         searchDropDown.style.display = "inline";
         showResults.isHidden = false;
       }
       else 
       {
	 alert("No search results to be displayed.");
       }

       return;
     }
     else 
     {
       var searchDropDown = document.getElementById("search_drop_down");
       searchDropDown.style.display = "none";
       showResults.isHidden = true;
     }
   }

  $(document).ready(function() {
     showResults.isHidden = true;

     var searchDropDown = document.getElementById("search_drop_down");
     var results1 = document.getElementById("results_1");
     var results2 = document.getElementById("results_2");
     var refineSearch = document.getElementById("refine_search");
     var noResults = document.getElementById("no_results");

     refineSearch.style.display = "none";

        // when the user types something in the search field, filter the search results

     $("#search_drop_down").change(function() {
	// found a user we want to view
        var selectedUser = this.value;	
	window.location = '/show_user/index?id=' + selectedUser;
     });

     $("#search_field").keyup(function(){
       showResults.isHidden = false;

    // this is the text content of the search field

    var searchText = document.getElementById("search_field").value;
    searchText = searchText.trim().toLowerCase();

    results1.innerHTML = "";
    results2.innerHTML = "";

    var usersList = "";
    var usersList1 = "";
    var usersList2 = "";
    var results = 0;

    if (searchText.length > 0)
    {
    // pass in the search text to the partial and render new drop down values (if appropriate)

    var fullUsersList = '<%=escape_javascript(render partial: "shared/user", collection: User.all)%>';

    fullUsersList = fullUsersList.split('\n\n'); 

    var child = searchDropDown.firstChild;
 
    var max_results = 10;
    for (var i = 0; i < max_results; i++) 
    {
	if (fullUsersList[i].length <= 0)
	   continue;

        var value = fullUsersList[i].trim().toLowerCase();	
        if (value.indexOf(searchText) >=  0)
        {
	  // keep 

          if (i < 5)
  	  {
	    usersList1 += value;
	  }
 	  else if (i >= 5 && i <= 10)
	  {
	    usersList2 += value;
	  }
          results++;
	}
    };

    }
    
    if (results == 0)
    {
 	refineSearch.style.display = "none";
 	noResults.style.display = "inline";
    }
    else { 
        console.log(usersList1);

 	noResults.style.display = "none";
    	results1.innerHTML = usersList1;
    	results2.innerHTML = usersList2;

        searchDropDown.style.display= "inline"; 
     
    	if (results == 10)
    	{
 	   refineSearch.style.display = "inline";
    	}
 	else 
	{
 	   refineSearch.style.display = "none";
	}
    }

    // only if different
   })});
   
   </script>

   <%= form_tag do %> 
    <div id="search_wrapper">
      <input id="search_field" type="search" placeholder="Search Users"></input>
      <button type="button" id="search_drop_down_button" onclick="showResults()"></button>
    </div>
    <%= submit_tag "Search", {'id' => 'search_button'} %>
    <br>
    <div id="search_drop_down" style="display:none">
      <h3>Search Results</h3>
      <p id="refine_search">Max Results Shown. Please Refine Search...</p>
      <p id="no_results">No Results</p>
      <br>
      <div id="results_1"></div>
      <div id="results_2"></div>
    </div>
   <% end %>
 </div>
