<!--------------------------------------------------------------------------
  author: hadleym
  date: 5/2/16
  Property of Hadley Productions
!---------------------------------------------------------------------------->

<!-- display the updates from fans !-->

<div id="updates">

<!-- load the three different update types !-->

<%= render partial: "shared/load_message_updates" %>

<%= render partial: "shared/load_question_updates" %>

<%= render partial: "shared/load_poll_updates" %>

<% @update_count = @fan_messages.count + @fan_questions.count + @fan_polls.count%>
 <%= link_to "Load more updates...", {action: "load_updates", count: @update_count},{id: "load_more_updates", method: :post, remote: true} %>
</div>

